# 忽略 MySQL 数据库备份文件
*.bak
*.backup

# 忽略 MySQL 配置文件
my.cnf
my.ini

# 忽略日志文件
*.log

# 忽略临时文件
*.tmp
*.temp

# 忽略操作系统生成的文件
.DS_Store
Thumbs.db

# 忽略 IDE 生成的文件
.vscode/
.history/
.idea/
*.iml

# 忽略 queries 文件
Myqueries.sql